.СalculatorForm{
    display: flex;
    justify-content: center;
}
.СalculatorForm form{
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 25px;
    box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.55);
    width: 100%;
}
.СalculatorForm form button{
    width: 200px;
    height: 50px;
}
.СalculatorForm form button p{
    font-size: 18px;
    margin: 0;
}

.СalculatorForm form input{
    background-color: #454545;
    border-radius: 8px;
    margin: 0 10px;
    height: 50px;
    width: 200px;
    border: 2px solid #6837EE;
    outline: none;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
}

.СalculatorForm form .inputEror{
    border-color: red;
}

.СalculatorResult{
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 25px;
    box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.55);
}

.СalculatorResult h2{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 300;
}