.NavWrapper{
    position: absolute;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    padding-top: 40vh;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.24);
}